* {
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", sans-serif, Arial;
}
body {
  background-color: #8e8686;
}
h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
  color: white;
}
header {
  width: 100%;
  height: auto;
}
.logo {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}
main {
  width: 100%;
  height: 90%;
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
  align-items: center;
}
.contenedorcajatexto {
  width: 500px;
  height: 400px;
  
}
.cajatexto {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  color: #0a3871;
  font-size: 32px;
  font-weight: 400px;
  font-family: "Inter", sans-serif;
  outline: none;
  
}

.cajatexto::placeholder {
  color: #0a3871;
  font-weight: bold;
  padding-left: 15px;
}
.alerta {
  margin-top: 20px;
  display: flex;
  color: #495057;
  letter-spacing: 1px;
  font-weight: bold;
}
.alerta p {
  font-size: 20px;
}
.alerta img {
  margin-right: 5px;
  margin-left: 15px;
  width: 20px;
}
.contenedor-botones {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  width: 500px;
  margin-top: 10px;
}

.btn-encriptador {
  width: 228px;
  height: 67px;
  border-radius: 24px;
  background-color: #0a3871;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  border: none;
  margin-right: 20px;
  cursor: pointer;
  letter-spacing: 1px;
}
.btn-encriptador:hover {
  background: rgb(76, 117, 219);
  transform: scale(1.1);
}
.btn-desencriptador:hover {
  background: rgb(148, 159, 189);
  transform: scale(1.1);
}

.btn-desencriptador {
  width: 228px;
  height: 67px;
  border-radius: 24px;
  background-color: #d8dfe8;
  color: #0a3871;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  border: 1px solid #0a3871;
  cursor: pointer;
}
.seccion1 {
  width: auto;
  height: 530px;
  
}
.seccion2 {
  width: 400px;
  height:530px;
  text-align: center;

  background-color: #ffffff;

  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 50);
}

.contenedorhumano {
  padding-top: 50px;
}
.contenedorhumano img {
  border-radius: 15px;
}
.contenedor-parrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-parrafo h3 {
  font-size: 24px;
  font-weight: 700px;
  font-family: "Inter" sans-serif;
  text-align: center;
  color: #343a40;
}

.contenedor-parrafo p {
  font-family: "Inter" sans-serif;
  font-weight: 400px;
  font-size: 16px;
  text-align: center;
  color: #495057;
  padding-top: 20px;
}
.contenedor-resultado {
  /* position: absolute; */
  /* bottom: 450px; */
  width: 350px;
  
  height: 350px;
  padding: 0;
  box-sizing: border-box;
  margin-left: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.texto-resultado {
  color: #e91111;
  font-size: 35px;
  
  
}
.contenedor-copiar {
  margin-top:90px;
  display: flex;
  padding-left: 40px;
  display: none;
}
.btn-copiar {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  background-color: #ffffff;
  color: #0a3871;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  border: 2px solid #0a3871;
  cursor: pointer;
}
.btn-copiar:hover {
  background: rgb(148, 159, 189);
  transform: scale(1.1);
}
.ocultar {
  display: none;
}

.final {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.corazon {
  color: rgb(219, 213, 213);
  font-size: 30px;
}
.mano {
  color: rgb(219, 213, 213);
  font-size: 30px;
}
.mostrar{
display: flex;
}
